@media all and (max-width: 1300px){
  .single-trainin{
    &__having-fade{
      right: 30px;
      font-size: 20px;
    }
  }
  .modal-recall{
    &__wrapper{
      width: auto;
      max-width: 80%;
    }
  }
  .counterr{
    &__item{
      .center-circle{
        border: 10px solid white!important;
      }
    }
  }
  .events{
    &__slide-item{
      .icons_container{
        padding: 20px;
        .icon_item{
          width: calc(20% - 10px)!important;
          span{
            font-size: 12px;
            line-height: 120%;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1250px){
  .single-trainin{
    .time-price{
      &__price{
        font-size: 120px;
      }
    }
  }

  .header-slider{
    &__item{
      background-position: right bottom;
      background-size: cover;
    }
    &__title{
      padding-right: 50%;
    }
    &__desc{
      padding-right: 50%;
    }
  }
}
@media all and (max-width: 1140px){
  .start-date{
    flex-direction: column;
    &__digit{
      width: 100%;
      .ujic-hold #uji-wrapper{
        width: 90vw;
        .ujiCountdown{
          margin: auto;
        }
      }
    }
    &__description{
      max-width: 100%;
    }
    &__read-more{
      margin-top: 80px;
    }
  }
}
@media all and (max-width: 1024px){
  .single-trainin{
    &__having-fade{
      right: 30px;
      top: 30px;
      bottom: 30px;
      font-size: 15px;
      line-height: 30px;
    }
  }
  .events{
    &__container{
      display: flex;
      flex-wrap: wrap;
      height: auto;
    }
    &__select{
      width: 100%;
      position: static;
      padding: 30px;
    }
    &__slide{
      width: 100%;
      height: 540px;
    }
    &__slide-item{
      .icons_container{
        width: 100%;
      }
    }
  }
  .counter{
    justify-content: center!important;
    flex-wrap: wrap;
    &__item{
      width: calc(50% - 20px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px 30px 10px;
      .my-canv{
        margin: 0;
      }
      .counter__item-text{
        font-size: 14px;
        padding: 0 10px;
        line-height: 16px;
      }
      .center-circle{
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        left: 4px;
        top: 4px;
        border: 10px solid white;
      }
    }
  }
  .header-slider{
    &__item{
      background-image: none!important;
      padding: 0;
    }
    &__desc{
      margin-bottom: 20px;
    }
    &__image{
      height: 100%!important;
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: cover;
      min-height: 330px;
      display: block;
    }

  }

  .container-grey{
    .fullcycle{
      &__title{
        font-size: 70px;
        margin-top: 30px;
        line-height: 100%;
      }
    }
  }
  .container{
    padding: 0 30px;
  }
  header{
    .contact-section{
      padding: 0 30px;
    }
    .primary-menu{
      position: relative;
      padding: 0 30px;
      &__fade{
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        pointer-events: all;
        top: 0;
        left: 0;
        display: block;
      }
      &__logo-mobile{
        display: flex;
        width: 100%;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        justify-content: space-between;
        align-items: center;
        order: 1;
        svg{
          width: 50px;
          height: 50px;
          cursor: pointer;
        }
      }
      &__burger{
        display: flex;
        cursor: pointer;
      }
      &__wrapper{
        display: none;
        position: fixed;
        z-index: 999;
        flex-direction: column;
        left: 0;
        top: 0;;
        height: 100vh;
        width: auto;
        min-width: 50%;
        background-color: #545454;
        justify-content: flex-start;
        padding: 0 0 50px 0;
        -webkit-box-shadow: 10px 0px 22px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 0px 22px 1px rgba(0,0,0,0.75);
        box-shadow: 10px 0px 22px 1px rgba(0,0,0,0.75);
        .language-switch{
          padding-left: 24px;
          order: 2;
          margin-top: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid white;
        }
        .main-nav{
          flex: 1;
          box-sizing: border-box;
          padding: 30px 10px 0 14px;
          order: 3;
          &__list{
            display: flex;
            flex-direction: column;
            padding-right: 0;
            .menu-item{
              padding: 15px 20px;
              a{
                font-size: 20px;
                line-height: 120%;
              }
              &:hover{
                background-color: transparent;
              }
            }
            .sub-menu{
              position: static;
              min-width: auto;
              opacity: 1;
              background-color: transparent;
              .menu-item{
                display: flex;
                &:before{
                  content: "- ";
                  display: block;
                  margin-right: 10px;
                  font-size: 20px;
                }
                &:hover{
                  background-color: transparent;
                }
                &:first-child{
                  padding-top: 30px;
                }
                &:last-child{
                  padding-bottom: 0;
                }
                a{
                  color: white;
                }
              }
            }
          }
          .menu-item:first-child{
            margin-left: 0;
          }
        }
      }
    }
  }
  .main-video{
    &__play-btn{
      &:before{
        width: calc(100% - 60px);
        left: 30px;
      }
    }
  }
}
@media all and (max-width: 768px){

  .single-trainin{
    .get-contact-form{
      &__button{
        font-size: 18px;
        line-height: 1.5;
      }
    }
    .time-price{
      &__container{
        display: flex;
        flex-wrap: wrap;
      }
      &__item{
        width: 100%;
        margin-bottom: 30px;
      }
      &__title{
        font-size: 40px;
      }
      &__price{
        font-size: 70px;
        line-height: 1.2;
      }
      &__desc{
        font-size: 20px;
        line-height: 120%;
        margin-top: 0;
      }
    }
    &__title{
      font-size: 34px!important;
      text-transform: uppercase;
    }
    .traning-days{
      .slick-slide{
        width: auto;
      }
      &__nav{
        display: none;
      }
      &__title{
        font-size: 40px;
      }
      &__item{
        padding: 0;
        background-color: transparent;
        h3{
          font-size: 30px;
        }
        p, li{
          font-size: 13px!important;
          line-height: 20px!important;
        }
        ul li{
          padding-left: 24px;
        }
      }
    }
    .for-who{
      &__content{
        p, li{
          font-size: 15px;
          line-height: 20px;
        }
        li{
          margin-bottom: 10px;
        }
      }
    }
    &__title, .for-who__title{
      font-size: 50px;
      margin-top: 30px;
    }
    &__having-fade{
      position: static;
      width: 100%;
      height: auto;
      padding: 30px;
    }
    &__date{
      font-size: 38px;
      margin-bottom: 30px;
    }
    &__content{
      h3{
        font-size: 34px;
        margin-top: 30px;
        padding-top: 0;
      }
      .wp-block-group{
        &__inner-container{
          p, li{
            font-size: 15px;
            line-height: 20px;
          }
          li{
            margin-bottom: 10px;
          }
        }
      }
      p, li{
        font-size: 15px;
        line-height: 20px;
      }
      .image-container{
        display: flex;
        flex-wrap: wrap;
        img{
          width: 100%;
          height: auto;
          margin-bottom: 15px;
        }
      }
    }
    .sertificate-people{
      margin-bottom: 50px;
      &__item-cont{

      }
      &__title{
        font-size: 40px;
        padding-right: 0;
        text-align: center;
      }
      &__desc{
        text-align: center;
        font-size: 20px;
        line-height: 1.2;
        padding: 0;
        margin-top: 30px;
        background-color: transparent;
        font-weight: bolder;
      }
      &__item-cont{
        margin-bottom: 30px;
      }
      &__img{
        position: static;
        right: 0;
        width: 100%;
        max-width: 250px;
        height: auto;
        margin: auto;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #trenners{
    .entry-title{
      margin-bottom: 0;
      margin-top: 30px!important;
    }
    .trenners{
      &__content{

      }
      &__title{
        font-size: 30px;
        -webkit-text-stroke: 1px #f4902f;
      }
      &__desc{
        font-size: 15px;
        line-height: 20px;
        p, li{
          font-size: 15px;
          line-height: 20px;
        }
      }
      &__page{
        .entry-content{
          font-size: 15px;
          line-height: 20px;
          p{
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
      &__list{
        margin-top: 0px;
      }
      &__item{
        border-top: none;
        padding-top: 0;
      }
      &__person-cont{
        flex-direction: column;
        padding: 30px;
        margin: 0 -30px;
        border-radius: 0;
      }
      &__person-cont-photo{
        width: 100%;
        max-width: 210px;
        margin: auto;
      }
      &__pers-wrapper{
        width: 100%;
      }
      &__person-desk{
        p{
          font-size: 15px;
          line-height: 20px;
        }
      }
      &__person-work{
        font-size: 15px;
        line-height: 20px;
        font-weight: bolder;
      }
    }
  }
  #trenings{
    .entry-title{
      margin-bottom: 0;
      margin-top: 30px;
    }
  }
  .trenings{
    &__item{
      padding-bottom: 30px;
      padding-top: 30px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-bottom: 0;
      &:last-child{
        margin-bottom: 30px;
      }
    }
    &__image{
      width: 100%;
    }
    &__container{
      width: 100%;
    }
    &__desc{
      font-size: 15px;
      line-height: 20px;
    }
    &__more{
      a{
        font-size: 15px;
        line-height: 20px;
      }
    }

  }
  .modal-contact{
    &__keeper-wrapper{
      padding: 30px;
      .wpcf7{
        height: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        label{
          padding-left: 0!important;
          width: 100%;
        }
        textarea{
          width: 100%;
        }
      }
    }
    &__close{
      top: 40px;
      right: 40px;
      background-color: white;
    }
  }
  .footer{
    #main-menu{
      padding-right: 0;
    }
    &__contacts-section{
      justify-content: center;
      a{
        text-align: center;
      }
    }
    &__main{
      flex-direction: column;
    }
    &__part{
      border-right: none;
      border-bottom: 2px solid rgba(255,255,255,.1);
      width: 100%;
      text-align: center;
      &:last-child{
        border-bottom: none;
      }
    }
    &__contacts{
      justify-content: center;
    }
  }
  .contact-section{
    &__btn-title{
      display: none;
    }
    &__logo{
      a{
        padding: 10px 0;
        img{
          width: 150px;
          height: auto;
        }
      }
    }
    &__btn{
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 50;
      background-color: transparent!important;
      margin-right: 0!important;
      padding: 0!important;
      svg{
        display: block!important;
        width: 80px;
        height: 80px;
        -webkit-box-shadow: 0px 0px 29px 9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 29px 9px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 29px 9px rgba(0,0,0,0.75);
        border-radius: 50%;
      }
    }
    &__contacts{
      display: none!important;
    }
  }
  .header-slider{
    &__title{
      font-size: 32px;
      margin-bottom: 0;
    }
    &__desc{
      line-height: 20px;
      font-size: 15px;
    }
  }
  .start-date{
    &__date{
      font-size: 340px;
    }
    &__desc-title{
      font-size: 50px;
      order: 2;
    }
    &__desc-subtitle{
      order: 1;
    }
    &__read-more{
      order: 3;
      padding-left: 33%;
      margin-top: 116px;
      svg{
        left: 0;
        bottom: 54px;
      }

    }
    &__description{
      padding-top: 0;
    }
  }
  .acardeon{
    &__list{

    }
    &__lnk{
      font-size: 15px;
      &:hover{
        font-size: 15px;
      }
    }
    &__item{
      max-height: none;
      &.active{
        padding: 30px 30px 60px 30px;
        .acardeon__title-closed{
          line-height: 100%;
          font-size: 32px;
        }
        .acardeon__desc{
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  .container-grey{
    .fullcycle{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      padding-bottom: 50px;
      &__title{
        font-size: 50px;
      }
      &__content{
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0 0 0;
      }
      &__image{
        width: 100%;
        padding-left: 20px;
        margin-bottom: 20px;
        margin-top: 0;
        &:before{
          border: 10px solid #f4902f;
          left: 0;
          top: -20px;
          width: calc(100% - 20px);
        }
      }
      &__desc{
        width: 100%;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  .events{
    margin-top: 0;
    &__slide-item{
      .icons_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
        .icon_item{
          position: static;
          width: 35% !important;
          margin-right: 0!important;
          height: auto!important;
          margin-bottom: 20px!important;
          margin-top: 0!important;
          display: flex;
          padding-right: 20px;
          min-width: 185px;
          span{
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 0;
            width: 70%;
            text-align: left;
          }
          svg{
            height: 30px;
            width: auto;
            margin-right: 20px;
            min-height: 20px!important;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .text-only{
    font-size: 15px;
    line-height: 20px;
    strong{
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
    }
    em{
      font-style: italic;
    }
  }
  .main-video{
    &.container{
      padding: 0;
    }
    &__play-btn{
      &:before{
        width: 100%;
        left: 0;
      }
      svg{
        width: 70px;
      }
    }
  }
  .events-galery{
    margin-top: 50px;
    &.container{
      padding: 0;
    }
    &__list{
      margin: 0;
    }
  }
  .recall{
    .container{
      padding: 0;
    }
    &__title{
      width: 80%;
      margin: auto;
    }
    &__list{
      margin: 0;
    }
    &__item{
      flex-direction: column;
      .testimonial-image{
        width: 50% !important;
        max-width: 200px;
        margin: auto;
      }
    }
    &__content{
      width: 100% !important;
      text-align: center;
    }
  }
  .footer{
    &__main{
      padding: 20px 30px;
    }
    &__copyright{
    padding: 20px 0;
    }
    &__copyright-content{
      text-align: center;
      font-size: 20px;
    }
  }
}
@media all and (max-width: 470px){
  .start-date{
    &__digit{
      transform: scale(0.8);
      #uji-wrapper{

      }
    }
  }
}
@media all and (max-width: 380px){
  .start-date{
    &__description{
      pointer-events: all!important;
    }
    &__desc-subtitle{
      font-size: 66px;
    }
    &__digit{
      margin-left: -30px;
      #uji-wrapper{
        left: -20px;
        width: 100vw!important;
        #ujiCountdown1{
          .ujiCountdown{
            display: flex;
            justify-content: space-between!important;
          }
          .ujiCountdown-section{
            .countdown_amount{
              padding: 5px 3px!important;
            }
          }
          .countdown_amount{
            font-size: 20px!important;
          }
        }
      }
    }
  }
}